{% extends "base.html" %}

{% block title %}Options | Password Manager{% endblock %}
{% block heading %}Password Manager{% endblock %}
{% block pageid %}password{% endblock %}

{% block content %}

<p>Passwords generated here are intended only for scripted access to the GraceDB <a href={% url "legacy_apiweb:default:root" %}>REST API</a> by LV-EM users.</p>

<p> Your username is: <b>{{ user.username }}</b></p>
{% if has_password %}
    {% if password %}
    <p>Your password is: <b>{{ password }}</b></p>
    {% endif %}

    {% if expired %}
    <p>Your password has <b>expired</b>. Please generate a new one by clicking the button below.</p>
    {% else %}
    <p>Your password expires in <b>{{ expiration_days }} days.</b></p>
    {% endif %}

{% else %}
<p>You do not currently have a password set.</p>
{% endif %}

<p>Press the button here to get a new password (or change your existing one):</p>

<form action={% url "manage-password" %} method="post">
    <input type="submit" value="Get me a password!">
</form>

<p><b>Note:</b> clicking this button has the effect of changing your password, and any old passwords will no longer work. Also, passwords will expire after one year.</p>

{% endblock %}
